@import './../mixins/breakpoint';
.weapons {
    margin-top: 345px;
    @include mobile {
        margin-top: 200px;
    }
    &__title {
        margin-bottom: 26px!important;
        text-align: center;
        @include mobile {
            font-size: 38px!important;
            line-height: 44px!important;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 16px;
        @include tablet {
            flex-direction: column;
        }
    }

}
.weapon {
    cursor: pointer;
    width: 752px;
    height: 520px;
    padding-left: 64px;

    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;

    border-radius: 5px;
    background: var(--card-color);
    transition: 0.15s linear;
    @include big-desktop {
        height: 500px;
        padding-left: 1rem;
    }
    @include medium {
        height: 400px;
    }
    @include tablet {
        width: 100%;
        padding-left: 8vw;
    }
    @include small-tablet {
        height: auto;
        min-height: 500px;
        padding: 15px;
        flex-direction: column-reverse;
        justify-content: start;
    }
    &:hover {
        box-shadow: 0px 0px 10px 2px var(--primary-color) inset;
    }
    &__info {
        padding-top: 90px;
        @include big-desktop {
            padding-top: 0;
        }
    }
    &__picture {
        align-self: flex-end;
        @include tablet {
            height: 100%;
            width: 50%;
            img {    
                display: block;
                margin-right: 2em;
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        @include small-tablet {
            width: 100%;
        }
        @include mobile {
            height: 270px;
        }
    }
    &__title {
        margin: 0;
        margin-bottom: 16px;
        font-family: Cinzel;
        font-size: 32px;
        font-weight: 700;
        line-height: 43px;
        color: #fff;
        @include mobile {
            margin-bottom: 5px;
        }
    }
    &__text {
        max-width: 380px;
        margin: 0;
        margin-bottom: 40px;
        font-family: Inter;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        
        color: #FFFFFF;
        @include mobile {
            margin-bottom: 10px;
        }
    }
    &__link {
        display: flex;
        width: 152px;
    }
}