<header class="header">
  <div class="container header__container">
    <div class="header__menu menu">
      <div class="menu__logo">
        <a href="">
          <picture>
            <source type="image/webp" srcset="./img/logo.webp" />
            <img src="./img/logo.png" alt="GOW-Ragnarok | Logo" />
          </picture>
        </a>
      </div>
      <nav class="menu__nav nav" data-menu>
        <a href="#characters" class="nav__link" data-menu-item>Characters</a>
        <a href="#history" class="nav__link" data-menu-item>History</a>
        <a href="#weapons" class="nav__link" data-menu-item>Weapons</a>
        <a
          href="https://www.playstation.com/ru-ua/games/god-of-war-ragnarok/"
          class="nav__link primary-button"
          data-menu-item
          >Buy now</a
        >
      </nav>
      <div class="burger" data-burger>
        <span class="burger__line"></span>
      </div>
    </div>
    <div class="hero">
      <div class="hero__info">
        <h1 class="hero__title">A darker and more primitive world</h1>
        <p class="hero__text">
          From the marble and ornate columns of Olympus to the forests, this is
          a new realm, with its own species of creatures, monsters and gods.
        </p>
        <div class="hero__links">
          <a
            href="https://www.playstation.com/ru-ua/games/god-of-war-ragnarok/"
            class="nav__link primary-button"
            >Buy now</a
          >
          <a href="#characters" class="hero__btn primary-button btn-reset"
            >knew more</a
          >
        </div>
      </div>
      <div class="hero__right">
        <div id="filter-black-right"></div>
        <picture>
          <source
            type="image/webp"
            srcset="./img/hero-poster.webp 1x, ./img/hero-poster@2x.webp 2x"
          />
          <img
            class="hero__poster"
            src="./img/hero-poster.png"
            srcset="./img/hero-poster.png 1x, ./img/hero-poster@2x.png 2x"
            alt="Kratos and Atreus | GOW-poster"
          />
        </picture>
      </div>
    </div>
  </div>
  <div id="filter-black"></div>
</header>
