<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  <title>God Of War RAGNAROK | Landing-page</title>
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
  <script defer src="js/main.js"></script>
</head>
