<section class="history" id="history">
  <div class="container history__container">
    <ul class="list-reset history__list">
      <li class="history__item" data-history-value="1">
        <img src="./img/banner_01.jpg" alt="Banner GOW" />
      </li>
      <li class="history__item" data-history-value="2">
        <img src="./img/banner_02.jpg" alt="Banner GOW" />
      </li>
      <li class="history__item" data-history-value="3">
        <img src="./img/banner_03.jpg" alt="Banner GOW" />
      </li>
    </ul>
    <div class="history__slider">
      <div class="swiper" id="historySlider">
        <div class="swiper-wrapper">
          <div class="history__item swiper-slide">
            <img
              src="./img/banner_01.jpg"
              data-history-value="1"
              alt="Banner GOW"
            />
          </div>
          <div class="history__item swiper-slide">
            <img
              src="./img/banner_02.jpg"
              data-history-value="2"
              alt="Banner GOW"
            />
          </div>
          <div class="history__item swiper-slide">
            <img
              src="./img/banner_03.jpg"
              data-history-value="3"
              alt="Banner GOW"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="history__info">
      <h2 class="history__title">Lute in the Nordic Kingdom</h2>
      <div class="history__text">
        <p>
          With revenge against the gods of Olympus in the distant past, Kratos
          now lives as a mortal in the realm of Norse gods and monsters.
        </p>
        <p>
          It is in this harsh, unforgiving world that he must fight to
          survive... and teach his son to do the same.
        </p>
      </div>
    </div>
  </div>
  <picture>
    <source
      type="image/webp"
      srcset="./img/history-bg.webp 1x"
      aria-hidden="true"
    />
    <img
      class="history__background"
      src="./img/history-bg.png"
      aria-hidden="true"
    />
  </picture>
</section>
