<section class="weapons" id="weapons">
  <div class="container weapons__container">
    <h2 class="weapons__title section-title">Legendary Weapons</h2>
    <ul class="weapons__list list-reset">
      <li class="weapon">
        <div class="weapon__info">
          <h2 class="weapon__title">Refined Rune Power</h2>
          <p class="weapon__text">
            New Abilities Let Kratos Use His Ax in New Ways
          </p>
          <a href="#" class="weapon__link primary-button">Know more</a>
        </div>
        <div class="weapon__picture">
          <picture>
            <source
              type="image/webp"
              srcset="./img/axe.webp 1x"
              alt="Leviathan Axe GOW | Weapon of Kratos" />
            <img src="./img/axe.png" alt="Leviathan Axe GOW | Weapon of Kratos"
          /></picture>
        </div>
      </li>
      <li class="weapon">
        <div class="weapon__info">
          <h2 class="weapon__title">More than a boy with a bow</h2>
          <p class="weapon__text">
            Atreus has improved his archery skills to unleash new attacks
          </p>
          <a href="#" class="weapon__link primary-button">Know more</a>
        </div>
        <div class="weapon__picture">
          <picture>
            <source
              type="image/webp"
              srcset="./img/bow.webp 1x"
              alt="Bow GOW | Weapon of Atreus" />
            <img src="./img/bow.png" alt="Bow GOW | Weapon of Atreus"
          /></picture>
        </div>
      </li>
    </ul>
  </div>
</section>
